In [ ]:
import pandas as pd
import baostock as bs

In [112]:
# 登陆系统
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:' + lg.error_code)
print('login respond error_msg:' + lg.error_msg)

# 获取某一天的全市场的证券和指数代码
rs = bs.query_all_stock(day="2022-07-08")
print('query_all_stock respond error_code:' + rs.error_code)
print('query_all_stock respond error_msg:' + rs.error_msg)
# 打印结果集

login success!
login respond error_code:0
login respond error_msg:success
query_all_stock respond error_code:0
query_all_stock respond error_msg:success

In [113]:
codel=rs.get_data()
codel[1000:]

           code tradeStatus   code_name
1000  sh.600839           1        四川长虹
1001  sh.600841           1        动力新科
1002  sh.600843           1        上工申贝
1003  sh.600844           1        丹化科技
1004  sh.600845           1        宝信软件
...         ...         ...         ...
5325  sz.399994           1  中证信息安全主题指数
5326  sz.399995           1    中证基建工程指数
5327  sz.399996           1    中证智能家居指数
5328  sz.399997           1      中证白酒指数
5329  sz.399998           1      中证煤炭指数

[4330 rows x 3 columns]

In [53]:
rs1 = bs.query_history_k_data_plus('sh.600031', "date,code,pbMRQ,peTTM,pcfNcfTTM", start_date='2022-07-04', end_date='2022-07-08',
                                 frequency="d", adjustflag="3")
rs1.error_code

'0'

In [15]:
rs1.fields

['date', 'code', 'pbMRQ', 'peTTM', 'pcfNcfTTM']

In [11]:
result = rs1.get_data()
result

         date       code     pbMRQ      peTTM  pcfNcfTTM
0  2022-07-04  sh.600031  2.581101  20.831129  84.254153
1  2022-07-05  sh.600031  2.525131  20.379420  82.427160
2  2022-07-06  sh.600031  2.431415  19.623070  79.368007
3  2022-07-07  sh.600031  2.462654  19.875187  80.387725
4  2022-07-08  sh.600031  2.474368  19.969730  80.770119

In [102]:
rs1.next()

False

In [100]:
rs1.get_row_data()

[]

In [13]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       5 non-null      object
 1   code       5 non-null      object
 2   pbMRQ      5 non-null      object
 3   peTTM      5 non-null      object
 4   pcfNcfTTM  5 non-null      object
dtypes: object(5)
memory usage: 328.0+ bytes

In [965]:
df = pd.DataFrame()
if float(result.iloc[0, 2]) != 0:
    if df.empty:
        df = result
df

         date       code     pbMRQ      peTTM pcfNcfTTM
0  2022-07-08  sh.600030  1.328690  13.224920  2.387478

In [1336]:
if float(result.iloc[0, 2]) != 0:
    if df.empty:
        df = result
    else:
        df = pd.concat([df, result])
df

         date       code     pbMRQ      peTTM  pcfNcfTTM
0  2022-07-08  sh.600030   1.32869   13.22492   2.387478
0  2022-07-08  sh.600031  2.474368   19.96973  80.770119
0  2022-07-08  sh.600032  3.792883  49.288099  15.923289
0  2022-07-08  sh.600036  1.309936   8.101429  31.669991

In [ ]:
df = pd.DataFrame()
# 获取沪深A股历史K线数据
for code in code_list:
    # 详细指标参数，参见“历史行情指标参数”章节
    rs = bs.query_history_k_data_plus(code, "date,code,pbMRQ,peTTM,pcfNcfTTM", start_date='2022-07-08', end_date='2022-07-08',
                                 frequency="d", adjustflag="3")
    if rs.error_code == '0':
        result = rs.get_data()
        n = result.shape[0]
        if n <= 0:
            continue
        # 删除pbMRQ为0的证券或指数
        if float(result.iloc[0, 2]) != 0:
            if df.empty:
                df = rs.get_data()
            else:
                df = pd.concat([df, rs.get_data()])
    # print(df)

In [1337]:
# 结果集输出到csv文件
# df.to_csv("Data\\history_A_stock_k_data.csv", index=False)
# print(df)
df['pbMRQ'] = df['pbMRQ'].astype(float)
df['peTTM'] = df['peTTM'].astype(float)
df['pcfNcfTTM'] = df['pcfNcfTTM'].astype(float)
# 以pbMRQ进行升序排序
df_sortby_pbMRQ = df.sort_values(by='peTTM')
# 存入文件
# df_sortby_pbMRQ.to_csv("Data\\history_A_stock_k_data2.csv", index=False)
print("当天A股市场pb最低的证券：" + df_sortby_pbMRQ.iloc[0][1])
# 登出系统
bs.logout()

当天A股市场pb最低的证券：sh.600036
logout success!

In [411]:
for i in range(10):
    if i<5:
        continue
    print(i)

5
6
7
8
9