In [1]:
import pandas as pd
import baostock as bs
import datetime
import BS_function as Bsf
import Avg_EarningRate as Avg_ERt

In [2]:
start_date = '2022-08-29'
end_date = '2022-09-02'
code = "sh.600031"

In [42]:
lg = bs.login()
rs_close = bs.query_history_k_data(code, "close", start_date=end_date, end_date=end_date, frequency="d",
                                       adjustflag="1")  # 获取证券当日收盘价，后复权1，前复权2，默认不复权3

data_list = []
result_close = rs_close.get_data()
result_close.index=[code]
# while (rs_close.error_code == '0') & rs_close.next():
#         # 获取一条记录，将记录合并在一起
#     data_list.append(rs_close.get_row_data())
# result_close = pd.DataFrame(data_list, columns=rs_close.fields, index=[code])
result_close

login success!

                    close
sh.600031  565.9184462400

In [45]:
result = result_open.join(result_close)
result

                     open           close
sh.600031  553.5922276800  565.9184462400

In [3]:
code_list = pd.read_csv("Data/stock_basic.csv")  # 获取所有证券代码信息
# code_list = code_list[code_list['type']==1]
code_list = code_list[['code','code_name']]
code_list

           code           code_name
0     of.159001           易方达保证金货币A
1     of.159003            招商保证金快线A
2     of.159005          汇添富收益快钱货币A
3     of.159601  华夏MSCI中国A50互联互通ETF
4     of.159602  南方MSCI中国A50互联互通ETF
...         ...                 ...
7092  sz.399994          中证信息安全主题指数
7093  sz.399995            中证基建工程指数
7094  sz.399996            中证智能家居指数
7095  sz.399997              中证白酒指数
7096  sz.399998              中证煤炭指数

[7097 rows x 2 columns]

In [59]:
code_name='000002'
code_lst=[]
for code_b in code_list['code']:        
    if code_b[-6:]==code_name:
        code_lst.append(code_b)
code_lst

['sh.000002', 'sz.000002']

In [68]:
str(code_lst)

"['sh.000002', 'sz.000002']"

In [74]:

msg = '输入的代码不唯一'+str(code_lst)+'，请加上前缀sh./sz./...'
# print('输入的代码不唯一，请加上前缀sh./sz./...'.format(a=str(code_lst))
msg

"输入的代码不唯一['sh.000002', 'sz.000002']，请加上前缀sh./sz./..."

In [10]:
code_name = "sh.600031"
d=0
if len(code_name) == 9:
    d=7
d

7

In [26]:
import baostock as bs
import pandas as pd

# 登陆系统
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

code="浦发银行"

# rs = bs.query_stock_basic(code="sh.600000")
rs = bs.query_stock_basic(code_name=code)  # 支持模糊查询
print('query_stock_basic respond error_code:'+rs.error_code)
print('query_stock_basic respond  error_msg:'+rs.error_msg)

# 打印结果集

if rs.error_code == '0':
    # 获取一条记录，
    result = rs.get_data()


print(result)

# 登出系统
bs.logout()
code_name

login success!
login respond error_code:0
login respond  error_msg:success
query_stock_basic respond error_code:0
query_stock_basic respond  error_msg:success
        code code_name     ipoDate outDate type status
0  sh.600000      浦发银行  1999-11-10            1      1
logout success!

'浦发银行'

In [4]:
import re

In [75]:
code_name= input('codeN=:')
code_name=code_name.lower()
code_name

codeN=:三一

'三一'

In [79]:
lg = bs.login()
pattern1 = re.compile(r'\b(of|sh|sz|bj).\d{6}$')
pattern2 = re.compile(r'\b([0-9]{6})$')
match1 = pattern1.search(code_name)                     
match2 = pattern2.search(code_name)
code=''
name=''
if match1:
    print(match1)
    st_bs = bs.query_stock_basic(code_name)
    result = st_bs.get_data()
    code = result.loc[0,'code']
    name = result.loc[0]['code_name']
elif match2:
    print(match2)
    code_lst=[]
    for code_b in code_list['code']:        
        if code_b[-6:]==code_name:
            code_lst.append(code_b)
    if len(code_lst) ==1:
        code_name = code_lst[0]
        st_bs = bs.query_stock_basic(code_name)
        result = st_bs.get_data()
        code = result.loc[0,'code']
        name = result.loc[0]['code_name']
#         msg = '输入正确！'
    elif len(code_lst) >1:
        msg = '输入的代码不唯一'+str(code_lst)+'，请加上前缀sh./sz./...'
        print(msg)        
    else:
        msg = '请重新输入正确的代码, eg: sh.600001'
        print(msg)
else:
    print('Not match!!')
    st_bs = bs.query_stock_basic(code_name=code_name)
    result = st_bs.get_data()
    if result.shape[0] ==1:
        code = result.loc[0,'code']
        name = result.loc[0]['code_name']        
    else:
        msg = '输入的名称不唯一'+str(result['code_name'].to_list())+'，请加上前缀sh./sz./...'
        print(msg)
if code=='' or name=='':
    msg = '请重新输入正确的代码, eg: sh.600001'
bs.logout()
result,code,name

login success!
Not match!!
输入的名称不唯一['三一转债', '三一重工', '三一重能']，请加上前缀sh./sz./...
logout success!

(        code code_name     ipoDate     outDate type status
 0  sh.110032      三一转债  2016-01-18  2019-03-26    4      0
 1  sh.600031      三一重工  2003-07-03                1      1
 2  sh.688349      三一重能  2022-06-22                1      1,
 '',
 '')

In [17]:
import re

S_name = '01.天上人间.fla02.二泉映月.mp3'
pattern = re.compile('(?<=\d{2}\.)[\u4e00-\u9fa5]+\.\w{3}')
match1 = pattern.search(S_name)
match2 = pattern.findall(S_name)

print(match1)
print(match2[1])

<re.Match object; span=(3, 11), match='天上人间.fla'>
二泉映月.mp3

In [ ]:
pattern = re.compile(/^(s[hz]|S[HZ])(000[\d]{3}|002[\d]{3}|300[\d]{3}|600[\d]{3}|60[\d]{4})$/)  
BF_lst = []
for file in BFdir_lst:
    match = pattern.search(file)
    if match:
        # file_path = os.path.join(BFdir, file)
        BF_lst.append(file)